body {
background-color:#9597ff;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #d5e2ff;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}